*{
    margin: 0px;
    /*outline: 1px black solid;*/
}

.cont {
    max-width: 2550px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    overflow-x: hidden;
}

.maincontainer{
    width: 1440;
    min-height: 100vh;
    background-image: url(image/Image.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    animation: 1s ease-out 0s 1 transp;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromright {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromDown {
    0% {
      transform: translateY(500%);
    }
    100% {
      transform: translateY(0);
    }

    
  }
    @keyframes transp {
    0% {
      filter: opacity(0);
    }
    100% {
      filter: opacity(1);
    }

    
  }

.logo{
    margin-top: 150px;
    margin-left: 100px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.logosubtitle{
    margin-left:210px;
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Comfortaa', cursive;
    width: fit-content;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 10px;
}

.infoline {
    height: 120px;
    background-color: rgba(192, 192, 192, 0.8);
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    
}

.infocontainer {
    max-width: 1850px;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
}

.logoit_clubblock {
    width: fit-content;
    transition: 0.2s ease-in-out;
}

.logoit_clubblock:hover {
    transform: rotate(15deg);
}

.instagramm,.facebook,.twitter,.whatsApp {
    transition: 0.20s ease-out;
}

.instagramm:hover,.facebook:hover,.twitter:hover,.whatsApp:hover {
    margin-top: -10px;
}

.containergallery {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-color: rgb(231, 231, 231);
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    
}

.number{
    margin-left: 0px;
    font-family: 'Comfortaa', cursive;
    animation: 1s ease-out 0s 1 slideInFromDown;
}

.picturesblock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    animation: 1s ease-out 0s 1 slideInFromright;
}

.containergallerytext1, .containergallerytext2{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: white;
    font-family: 'Exo 2', sans-serif;
}

.containergallerytext1{
    font-size: 24px;
    text-shadow: black 0 0 40px;
}

.containergallerytext2{
    font-size: 34px;
    font-weight: bold;
    text-shadow: black 0 0 50px;
}

.justablock {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.plus1,.plus2,.plus3 {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
    align-items: center;
    filter: drop-shadow(0px 0px 10px #00000052);
    animation: 1s ease-out 0s 1 slideInFromright;
}

.plus1:hover,.plus2:hover,.plus3:hover {
    background-color: rgb(244, 188, 84);
    border-radius: 15px;
    margin-top: -10px;
}

.textplus1,.textplus2,.textplus3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: fit-content;
}

.subtitleplus1,.subtitleplus2,.subtitleplus3{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
}

.imageplus1,.imageplus2,.imageplus3 {
    display: block;
    height: 250px; 
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.pad {
    padding-bottom: 50px;
}

.elements {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px
}

.element {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    filter: drop-shadow(0px 0px 10px #00000052);
    transition: 0.5s all ease-in-out;
}

.titley {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}

.smalltitley {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 5px;
    transition: 0.2s all ease-in-out;
    max-width: 600px;
}

.element:hover {
    background-color: rgb(244, 188, 84);
    transform: scale(1.05);
}

.inlink {
    border-radius: 10px;
    max-width: 630px;
    max-height: 360px;
}

.flexer {
    display: flex;
    width: auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.download {
    display: block;
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(244, 188, 84);
    font-weight: 600;
    filter: drop-shadow(0px 0px 10px #00000052);
    width: fit-content;
    color: white;
    transition: 0.5s all ease-in-out;
}

.download:hover{
    color: black;
transform: scale(1.1);
}